# F-String

In [ ]:
name: str = 'Kamran'
age: int = 12
height: float = 5.6
print('My name is:', name, 'and my age is:', age)

My name is: Kamran and my age is: 12

In [ ]:
print(f'My name is {name} and my age is {age}')

My name is Kamran and my age is 12

# Type casting


*   int()
*   float()
*   str()
*   bool()

In [ ]:
amount: str = '12345'
print(type(amount))

<class 'str'>

In [ ]:
amount = int(amount)
print(type(amount))

<class 'int'>

In [ ]:
print(name)

Kamran

# Input Statement

In [ ]:
name: str = input('Enter your name:')
age: int = input('Enter your age:')
print(f'My name is {name} and my age is {age}')

Enter your name:kamran
Enter your age:34
My name is kamran and my age is 34

In [ ]:
print(type(age))

<class 'str'>

In [ ]:
a: int = int(input('Enter 1st number:'))
b: int = int(input('Enter 2nd number:'))
print(a + b)

Enter 1st number:23
Enter 2nd number:4
27

# List

In [1]:
fruits: list = ['apple', 'banana', 'cherry', 'mango', 'almond']

In [2]:
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'almond']

In [3]:
ages: list = [23, 45, 54, 32, 12]
print(ages)

[23, 45, 54, 32, 12]

In [4]:
fruits_ages: list = ['apple', 23, 'mango', 20]
print(fruits_ages)

['apple', 23, 'mango', 20]

### Indexing

In [ ]:
print(fruits[3])

mango

In [ ]:
print(fruits[-3])

cherry

## Slicing

* ###   **list_name [start: end: step]**

In [ ]:
print(fruits[0:5:2])

['apple', 'cherry', 'almond']

In [5]:
print(fruits[-5:-2])

['apple', 'banana', 'cherry']