# **Variables in Python**

In [20]:
name = 'Kamran Khan PIAIC'
name2 = 'Hassan'
name3 = 'Jahanzaib'

In [14]:
print(name)

Kamran Khan PIAIC

In [6]:
print('Kamran Khan')

Kamran Khan

### Assigning Values to variables in single line

In [1]:
name, name2, name3 = 'Kamran', 'Hassan', 'Jahanzaib'

In [2]:
print(name, name2, name3)

Kamran Hassan Jahanzaib

### Updating variables

In [21]:
name = 'Junaid'

In [22]:
print(name)

Junaid

# Types of varaibles
## Numeric

*   Non-Decimal (Integers) | int
*   Decimal (Float) | float

## String

*   Single line string | Enclosed in double quotes (" "), single quotes (' ').
*   Multi Line string | Enclosed in Tripple quotes ( ' ' '_________________________' ' ' ).

In [28]:
age: int = 20
height: float = 6.2
name: str = 'Kamran Khan'

In [29]:
print(age)
print(height)
print(name)

20
6.2
Kamran Khan

In [30]:
print('My age is:', age)

My age is: 20

In [31]:
print('My name is:', name, 'and My age is:', age)

My name is: Kamran Khan and My age is: 20